_site/
.sass-cache/
.jekyll-metadata
_pdf
.DS_Store
.idea
.vscode
vendor/
.bundle/
pages/startowa/przeglad_wprowadzenie1.md
_includes/ks/1-2-9---.md
pages/testy/tz/
pages/metoda/krytyka-polskiej.md
pages/ogolne/audyt.md
