<footer>
    <section id="sp-bottom" class="col-lg-12 bg-secondary text-white" aria-label="Użyteczne łącza">
        <div class="container">
            <div class="container-inner py-3 py-lg-5">
                <div class="row">
                    <div id="sp-bottom1" class="col-sm-col-sm-6 col-lg-3 ">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <h3 class="sp-module-title font-weight-bolder pb-3 text-white">Informacje kontaktowe</h3>
                                <div class="sp-module-content">

                                    <div class="custom">
                                        <ul class="list-unstyled">
                                            <li class="mb-2"><strong>Pracownia Dostępności Cyfrowej - LepszyWeb.pl<br></strong></li>
                                            <li class="d-flex flex-row">
                                                <i class="fas fa-map-marker-alt mr-3" aria-hidden="true"></i>
                                                <span> 40-074 Katowice<br>ul. Marcina Szeligiewicza 1
                                            </span>
                                            </li>
                                            <li><i class="fas fas fa-phone-volume mr-3" aria-hidden="true"></i><a class="text-white" href="tel:728832814"> tel: 728-832-814</a></li>
                                            <li><i class="fas fas fa-phone-volume mr-3" aria-hidden="true"></i><a class="text-white" href="tel:608089112"> tel: 608-089-112</a></li>
                                            <li><i class="fas fa-envelope mr-3" aria-hidden="true"></i><a href="mailto:kontakt@lepszyweb.pl" class="text-white"> email: kontakt@lepszyweb.pl</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sp-bottom2" class="col-sm-col-sm-6 col-lg-3 ">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <h3 class="sp-module-title font-weight-bolder pb-3 text-white">Usługi</h3>
                                <div class="sp-module-content navbar-dark">
                                    <ul class="menu nav flex-column dark small">
                                        <li class="item-244 nav-item"><a href="https://lepszyweb.pl/walidator" class="nav-link px-0">ALLY - Walidator dostępności</a></li>
                                        <li class="item-222 nav-item"><a href="https://deklaracja.lepszyweb.pl" class="nav-link px-0">Generator
                                            deklaracji dostępności</a></li>
                                        <li class="item-227 nav-item"><a href="https://lepszyweb.pl/konsultacje" class="nav-link px-0">Konsultacje</a></li>
                                        <li class="item-243 nav-item"><a href="https://lepszyweb.pl/szkolenia" class="nav-link px-0">Szkolenia</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sp-bottom3" class="col-lg-3 ">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <h3 class="sp-module-title font-weight-bolder pb-3 text-white">Walidator - informacje</h3>
                                <div class="sp-module-content">
                                    <ul class="category-module mod-list nav flex-column dark small">
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/walidator/5-rodzajow-wynikow-testow-dostepnosci">5 rodzajów wyników
                                            testów dostępności </a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/walidator/audyt-wspomagany">Audyt
                                            wspomagany</a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/walidator/dlaczego-metoda-rgaa">Dlaczego
                                            metoda RGAA?</a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/walidator/orientacyjny-miernik-dostepnosci">Orientacyjny miernik
                                            dostępności </a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/walidator/rgaa-jako-metoda-oceniania-dostepnosci">RGAA jako metoda
                                            oceniania dostępności</a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/walidator/struktura-wynikow">Struktura
                                            wyników</a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/walidator/szybki-audyt-stron">Szybki
                                            audyt stron</a>


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sp-bottom4" class="col-lg-3 ">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <h3 class="sp-module-title font-weight-bolder pb-3 text-white">Szkolenia</h3>
                                <div class="sp-module-content">
                                    <ul class="category-module mod-list nav flex-column dark small">
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/szkolenia/audyt-dostepnosci-we-wlasnym-zakresie">Audyt dostępności we
                                            własnym zakresie</a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/szkolenia/tworzenie-dokumentow-pdf">Tworzenie dokumentów PDF</a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/szkolenia/tworzenie-dostepnych-dokumentow-biurowych">Tworzenie
                                            dostępnych dokumentów biurowych </a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="https://lepszyweb.pl/szkolenia/zarzadzanie-dostepnoscia-cyfrowa">Zarządzanie dostępnością
                                            cyfrową</a>


                                        </li>
                                        <li class="nav-item">
                                            <a class="mod-articles-category-title nav-link px-0" href="deklar









































































































                                            acja-dostepnosci">Deklaracja dostępności</a>


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-footer" class="col-lg-12 bg-primary text-white" aria-label="Copyright">
        <div class="container">
            <div class="container-inner py-4">
                <div class="row">
                    <div id="sp-footer1" class="col-lg-12">
                        <div class="sp-column "><span class="sp-copyright"><span class="sp-copyright">
                        &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. Wszystkie prawa zastrzeżone.
                       {% if page.last_updated %}<span>Strona zmieniona:</span> {{page.last_updated}}. {% endif %} Witryna wygenerowana: {% assign m = site.time | date: "%-m" %}
		{{ site.time | date: "%-d" }}
		{% case m %}
		{% when '1' %}stycznia
		{% when '2' %}lutego
		{% when '3' %}marca
		{% when '4' %}kwietnia
		{% when '5' %}maja
		{% when '6' %}czerwca
		{% when '7' %}lipca
		{% when '8' %}sierpnia
		{% when '9' %}września
		{% when '10' %}października
		{% when '11' %}listopada
		{% when '12' %}grudnia
		{% endcase %}
		{{ site.time | date: "%Y" }} r. </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
